<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boum_ivan.nightlifeapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LogInSignUp.L_S_MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"  >
        </activity>
        <activity
            android:name=".LogInSignUp.S_Activity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".LogInSignUp.L_Activity"
            android:label="@string/title_activity_login">
        </activity>
        <activity
            android:name=".Home_Screen.MainActivityHomeScreen"
            android:label="@string/title_activity_main_activity_home_screen" >
        </activity>
    </application>

</manifest>
